/* ============================= Ahorcado ============================= */


.ingresos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#letraInput{
    background-color: var(--nav-color);
    color: white;
    margin-left: .5rem;
    text-align: center;
}


/* --- Dibujo ahorcado --- */
#espacioHorca{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

#bloque{
    display: flex;
}

#antesCabeza{
    width: 1.25rem;
}
#cabeza{
    border-radius: 100%;
    background-color: var(--main-color);
    width: 2rem;
    height: 2rem;
}


#brazoIzq{
    background-color:var(--main-color);
    width: 2rem;
    height: .5rem;
}
#cuerpo{
    background-color:var(--main-color);
    width: .5rem;
    height: 4rem;
}
#brazoDer{
    background-color:var(--main-color);
    width: 2rem;
    height: .5rem;
}


#antesPiernas{
    width: 1.5rem;
}
#piernaIzq{
    background-color:var(--main-color);
    width: .5rem;
    height: 2.5rem;
}
#interPiernas{
    width: .5rem;
}
#piernaDer{
    background-color:var(--main-color);
    width: .5rem;
    height: 2.5rem;
}