/* ============================== Frogger ============================ */
.areaJuegoFrogger{
    margin-top: 3rem;
    display: flex;
}

.espacio{
    width: 25%;
}

.juegoFrogger{
    width: 50%;
}

.flexible{
    display: flex;
    justify-content: space-between;
}

#nivel, #vehiculos, #tiempo{
    margin: .8rem;
    padding-top: .3rem;
}

#rutaFrogger{
    border-spacing:0;
    border: 1px solid black;
}

.celdaFrogger{
    width: .6rem;
    height: 1rem;
}

.celdaCasa{
    background-color: var(--nav-color);
}

.rana{
    background-color: green;
}

.auto{
    background-color: black;
}

.colectivo{
    background-color: yellow;
}

.moto{
    background-color: goldenrod;
}