.dos-columnas{
    display: flex;
}

.dos-columnas h3{
    min-width: 80%;
}

.circular{
    width: 10rem;
    height: 10rem;
    margin: .5rem;
    background-color: red;
    border: solid 1px black;
    
}
.half-circle{
    display: flex;
    justify-content: center;
}
.top-left{
    border-radius: 100% 0 0 0;
}
.top-right{
    border-radius: 0 100% 0 0;
}
.bottom-right{
    border-radius: 0 0 100%  0;
}
.bottom-left{
    border-radius: 0 0 0 100%;
}

.botonTecla{
    margin: .2rem;
    padding: .5rem;
    border-radius: 5px;
    border-color: lightgray;
    background-color: lightgray;
    min-width: 2.5rem;
    text-align: center;
}
