/* =============================== Variables ==================================== */
:root{
    --head-foot-color: lightgray;
    --main-color: rgb(123, 159, 161);
    /* --main-color: rgb(144, 152, 189); */
    --nav-color: gray;
}
/* ================================ General ==================================== */
* {
    margin: 0;
    padding: 0;
  }

  html{
    font-size: clamp(1rem, 2.2vh, 3rem);
  }

/* ============================   Header General  ============================== */  
header{
    background-color: var(--head-foot-color);
    height: 6vh;
}

header h1{
    color: rgb(72, 118, 121);
    text-align: center;
}


/* ========================== Cuerpo general con Nav y Main ===================== */

.cuerpo{ 
    display: flex; 
}

nav{
    padding-top: 1rem;
    width: 20%;
    background-color: var(--nav-color);
    text-align: center;
}

nav ul{
    list-style-type: none; 
}

.botonNav{
    margin: .5rem;
    padding: .8rem; 
    border-radius: 5px;
    border-color: var(--main-color);
    background-color: var(--main-color);
    min-width: 80%;
    text-align: center;
    color: white;
    font-size: 1rem;
}

.botonNav:hover{
    background-color: rgb(79, 117, 119);
}


main{
    width: 80%;
    padding: 1rem;
    background-color: var(--main-color);
}

.recuadros{
    border: solid 1px black;
    /* min-height: 2rem; */
    min-height: 4vh;
    margin: 1rem;
    padding: .5rem;
}

.tituloJuego{
    color: var(--head-foot-color);
    text-align: center;
}

.espacioJuego{
    min-height: 70vh;
}

.espacioPalabra{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.palabra{
    text-align: center;
    min-width: 80%;
}

.textoIndex{
    font-size: 1.2rem;
    margin: 1rem 10rem 0 10rem
}

.botonStart{
    margin: .5rem;
    padding: .5rem;
    border-radius: 5px;
    background-color: var(--head-foot-color);
    min-width: 6rem;
    height: 2.4rem;
    text-align: center;
}

.botonStart:hover{
    background-color: var(--nav-color);
}

/* ============================ Modal Login =========================== */
.login-button{
    position: fixed;
    right: 2rem;
    top: .5rem;
    padding: .2rem;
    border-radius: 5px;
    min-width: 4rem;
    height: 1.8rem;
    background-color: var(--main-color);
}

.login-button:hover{
    background-color: rgb(79, 117, 119);
}

.login-name{
    position: fixed;
    right: 7rem;
    top: .5rem;
    padding: .2rem;
    height: 1.8rem;
}

.modal-login-container{
    position: fixed;
    right: 2rem;
    top: 3rem;
    border: 1.5px solid black;
    padding: 1rem;
    background-color:rgb(109, 109, 109, 0.90);
    color: white;
    min-width: 20rem;
    min-height: 8rem;
}

.login-on{
    display: block;
}

.login-off{
    display: none;
}

#login_form{
    padding-top: 1rem;
}
.form-labelOverInput{
    display: block;
}

.form-AceptarBtn{
    text-align: right;
    margin-top: 2.5rem;
}

#login_submit{
    padding: .3rem;
    border-radius: 5px;
}


/* =========================== Footer General ========================= */
footer{
    background-color: var(--head-foot-color);
    min-height: 4vh;
    text-align: center;
}

footer p{
    font-size: 1 rem;
    color: rgb(72, 118, 121);
    /* color: rgb(123, 159, 161); */
}

